header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-content: center;
}
header article > div {
  display: flex;
  justify-content: center;
}
/* date form */
#form-date {
  margin-top: 1rem;
  background-color: var(--gray);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}
#form-date input {
  background-color: var(--gray);
  padding: 1rem 0 1rem 1.5rem;
}

/* help button */

#button-help {
  display: flex;
  margin-top: 1rem;
  background-color: var(--white);
}

#button-help p {
  margin-left: 10px;
}

#button-submit {
  background-color: var(--gray);
  padding: 0.75rem 1.5rem;
}
