/* Assigning border color to zodiac buttons based on their respective lines. */

.button-zodiac {
  background-color: var(--white);
  /* shared black border */
  border: 5px solid var(--black);
  border-radius: 100px;
  /* line-specific border */
  box-shadow: 0px 0px 0px 8px;
  padding: 10px;
  margin: 20px;
}

#button-aquarius {
  color: var(--district);
}

#button-pisces {
  color: var(--bakerloo);
}
#button-aries {
  color: var(--central);
}
#button-taurus {
  color: var(--circle);
}
#button-gemini {
  color: var(--hammersmith);
}
#button-cancer {
  color: var(--jubilee);
}
#button-leo {
  color: var(--metropolitan);
}
#button-virgo {
  color: var(--northern);
}
#button-libra {
  color: var(--piccadilly);
}
#button-scorpio {
  color: var(--victoria);
}
#button-saggitarius {
  color: var(--waterloo);
}
#button-capricorn {
  color: var(--elizabeth);
}
