/* Base CSS */
/* Common, site-wide CSS should go here */

html {
  min-height: 100vh;
  font-size: 100%;
}
* {
  box-sizing: border-box;
}
figure img {
  padding: 0;
  margin: 0;
  width: 100%;
}
svg {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  list-style: none;
}

button,
input {
  border-radius: 100px;
  outline: none;
  border: none;
}
button {
  padding: 0px 12px;
}

/* grid system */

body {
  display: grid;
  grid-template-columns: auto 1280px auto;
  grid-template-areas: ". main-content .";
}
body > div {
  grid-area: main-content;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

main > div {
  display: grid;
  grid-template-columns: auto 40% 30% auto;
  grid-template-areas: ". header zodiacs .";
  align-items: center;
}
